@use '../abstracts/variables';

.header {
  &__main {
    display: grid;
    grid-template-rows: 1fr min-content minmax(8rem, min-content) 3fr;
    grid-template-columns: minmax(min-content, max-content);
    justify-content: center;
    gap: 2rem 0;

    .services {
      &__title {
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        gap: 0 1.5rem;
        align-items: center;
      }
      &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0 5rem;
        justify-items: center;
        align-items: center;
      }
    }
  }

  &__aside {
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    gap: 2rem 0;

    .specialties {
      display: grid;
      grid-template-columns: min-content max-content;
      align-items: center;
      gap: 3vh 1.8rem;

      @media (max-width: variables.$bp-medium) {
        grid-template-columns: repeat(3, min-content max-content);
      }
      @media (max-width: variables.$bp-small) {
        grid-template-columns: min-content max-content;
      }
    }
  }
}
