.btn {
  font-family: var(--font-display);
  font-size: 1.6rem;
  text-transform: uppercase;
  background-color: var(--color-primary);
  padding: 1.5rem 3rem;
  color: #fff;
  border: none;
  border-radius: 0;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: var(--color-primary-dark);
  }

  &--scroll {
    justify-self: start;
    align-self: start;
  }

  &--client {
    grid-column: span 2;
  }

  &--contact {
    padding: 1rem;
    text-transform: none;
    background-color: var(--color-secondary);
    &:hover {
      background-color: var(--color-grey-dark-1);
    }
  }

  &--form {
    justify-self: start;
  }
}
