.slider {
  position: relative;
  height: 39rem;
  overflow: hidden;

  &__btn {
    position: absolute;
    top: 100%;
    font-size: 2.5rem;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    border: none;
    color: var(--color-grey-dark-2);

    &--left {
      left: 6vw;
      transform: translateY(-100%);
    }
    &--right {
      right: 6vw;
      transform: translateY(-100%);
    }
  }
}

.slide {
  display: flex;
  align-items: center;

  position: absolute;
  height: 35rem;
  width: 100%;
  transition: all 0.5s;
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);

  &__dot {
    border: none;
    height: 1.2rem;
    width: 1.2rem;
    background-color: #b9b9b9;
    opacity: 0.6;
    border-radius: 50%;
    margin-right: 2rem;
    cursor: pointer;
    &--active {
      background-color: var(--color-grey-dark-2);
      opacity: 1;
    }
  }
}
