.clients {
  padding: 15rem 0;
}

.client {
  background-color: var(--color-grey-light-1);

  &__img {
    width: 100%;
    filter: invert(10%);
  }

  &__name {
    width: 80%;

    transform: translateY(50%);

    font-family: var(--font-display);
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    padding: 1.2rem;
    background-color: var(--color-secondary);
    color: #fff;
  }

  &__location,
  &__traffic {
    margin-top: 3rem;
  }

  &__location,
  &__traffic,
  &__type,
  &__industry {
    font-size: 1.5rem;
    margin-left: 2rem;

    svg {
      fill: var(--color-primary);
      height: 2rem;
      width: 2rem;
      margin-right: 1rem;
    }
  }
}
