.footer {
  background-color: var(--color-secondary);

  &__items {
    list-style: none;
  }

  &__link:link,
  &__link:visited {
    color: #fff;
    display: block;
    padding: 1.5rem;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    transition: all 0.2s;
  }
  &__link:hover,
  &__link:active {
    background-color: rgba(#fff, 0.05);
    transform: translateY(-0.5rem);
  }
}

.copyright {
  font-size: 1.2rem;
  color: var(--color-grey-light-2);
  margin-top: 5rem;
  text-align: center;
}
