@use '../abstracts/variables';

.header {
  &__main {
    line-height: 1;
    padding: 9rem;
    background-image: linear-gradient(
        rgba(16, 29, 44, 0.93),
        rgba(16, 29, 44, 0.93)
      ),
      url(../img/web-dev.jpg);
    background-size: cover;
    background-position: center;

    .services {
      &__title {
        font-size: 1.6rem;
        color: var(--color-grey-light-2);

        &::before,
        &::after {
          content: "";
          height: 1px;
          display: block;
          background-color: currentColor;
        }
      }
      &__list {
        list-style: none;
        font-size: 1.8rem;
        letter-spacing: -0.1px;
        color: rgba(255, 255, 255, 0.6);

        @media (max-width: variables.$bp-small) {
          font-size: 1.4rem;
        }
      }
    }
  }

  &__aside {
    background-color: var(--color-secondary);
    padding: 5rem;
  }
}

.circular--landscape {
  display: inline-block;
  position: relative;
  width: 6rem;
  height: 6rem;
  overflow: hidden;
  border-radius: 50%;
}
.circular--landscape img {
  width: auto;
  height: 100%;
  margin-left: -1rem;
}
