.nav {
  background-color: var(--color-primary-dark);
  box-shadow: 0 2rem 5rem rgb(0 0 0 / 10%);
  padding: 0 6vw;

  &__logo {
    height: 5rem;
  }

  &__items {
    list-style: none;
    font-size: 1.6rem;
  }

  &__item {
    padding-left: 3vw;

    a[href="#contact-form"] {
      padding: 1rem;
      background-color: var(--color-secondary);
      &:hover {
        background-color: var(--color-grey-dark-1);
      }
    }
  }

  &__link:link,
  &__link:visited {
    color: white;
    text-decoration: none;
    transition: all 0.2s;
  }
  &__link:hover,
  &__link:active {
    color: rgba(#fff, 0.6);
  }

  &.sticky {
    position: sticky;
    top: 0;
    z-index: 3;
  }
}
